# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Audio files (optionnel, décommentez si vous ne voulez pas les committer)
# *.mp3
# *.wav
# *.m4a
